*{
    color:white;
   
}
div{
    margin:5px;
}
body{
background-image: radial-gradient(circle, yellow, rgb(0, 0, 0));
position:static;
}
#header{
    border:2px solid black;
    height:8vh;
    width:98vw;
background-image: linear-gradient(to top right, rgb(0, 0, 0), rgb(58, 58, 3));
border-radius:20px;


}
#middlearea{
    display:flex;

}
#sidebar{
    border: 2px solid black;
        height: 83vh;
        width: 15vw;
background-image: radial-gradient(circle, rgb(255, 140, 0), rgb(0, 0, 0));
        border-radius: 20px;
}
#indiaarea{
    border: 2px solid black;
        height: 83vh;
        width: 84vw;
background-image: radial-gradient(circle, yellow, rgb(0, 0, 0));
        border-radius: 20px;
}
#footer{
border: 2px solid black;
    height: 8vh;
    width: 98vw;
background-image: radial-gradient(circle, rgb(255, 0, 0), rgb(0, 0, 0));
    border-radius: 20px;
}
